#APP
NODE_ENV=development
PORT=3000
CONSUMER_CSV_PORT=3001

# DB
DB_TYPE=postgres
DB_USER=admin
DB_PASSWORD=admin
DB_HOST=postgres
DB_PORT=5432
DB_NAME=boleto
DB_SCHEMA=boleto
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=${DB_SCHEMA}

# SENTRY
SENTRY_DSN=

# JWT
JWT_KEY=KeY@123

# RABBIT_MQ
RABBITMQ_PORT=5672
RABBITMQ_HOST=rabbitmq
RABBITMQ_URL=amqp://${RABBITMQ_HOST}:${RABBITMQ_PORT}